.header {
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 40px 0;
    width: 100%;

    background: linear-gradient(rgb(230, 230, 230, 0.8), rgb(230, 230, 230, 0.4));
    backdrop-filter: blur(2px);
    box-shadow: 0px 2px 2px rgb(230, 230, 230, 0.35);
}

.header-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-family: $secondary-font;
    font-size: 28px;
    user-select: none;
}

.nav-list {
    display: flex;
}

.nav-list__item+.nav-list__item {
    margin-left: 36px;
}

.nav-list__link {
    font-size: 18px;
}