.main-page {
    height: 100vh;
}

.hero {
    background-color: $background-light;
    background-image: url(../img/hero/mainPhoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-cont {
    background: $background-grad;
    backdrop-filter: blur(2px);
    box-shadow: $shadow;
    border-radius: 15px;

    @media screen and (max-width: 479px) {
        padding: 40px;
        margin: 0 14px;
    }

    @media screen and (min-width: 480px) {
        margin-left: auto;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 440px;
        padding: 40px;
        margin-right: auto;
    }

    @media screen and (min-width: 768px) {
        margin-right: 14%;
    }

    @media screen and (min-width: 768px) and (max-width: 1229px) {
        width: 510px;
        padding: 46px;
    }

    @media screen and (min-width: 1230px) {
        width: 560px;
        padding: 50px;
    }
}

.hero__title {
    margin-bottom: 8px;

    font-weight: 700;

    @media screen and (max-width: 767px) {
        font-size: 28px;
    }

    @media screen and (min-width: 768px) and (max-width: 1229px) {
        font-size: 32px;
    }

    @media screen and (min-width: 1230px) {
        font-size: 36px;
    }
}

.hero__descr {

    background: linear-gradient(#000000, #444444);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    font-weight: 500;

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }

    @media screen and (min-width: 768px) and (max-width: 1229px) {
        font-size: 20px;
    }

    @media screen and (min-width: 1230px) {
        font-size: 24px;
    }
}