.title {

    margin-bottom: 32px;

    text-align: center;

    font-weight: 700;
    line-height: 1.2;

    @media screen and (max-width: 767px) {
        font-size: 32px;
    }

    @media screen and (min-width: 768px) {
        font-size: 36px;
    }
}