*,
::after,
::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: $main-font;
    color: $main-color;
    background-color: $main-background-color;
    height: 100%;
}

body.modal-open {
    overflow: hidden;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.section {
    @media screen and (max-width: 479px) {
        padding-top: 52px;
        padding-bottom: 52px;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        padding-top: 68px;
        padding-bottom: 68px;
    }

    @media screen and (min-width: 768px) and (max-width: 1229px) {
        padding-top: 84x;
        padding-bottom: 84px;
    }

    @media screen and (min-width: 1230px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 479px) {
        margin-left: 0;
        margin-right: 0;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) and (max-width: 1229px) {
        width: 768px;
    }

    @media screen and (min-width: 1230px) {
        width: 1230px;
    }
}

input {
    display: block;
    height: 100%;
    width: 100%;
}

label {
    display: block;
}