/* font */

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;


/* color */
$main-color: #212121;
$secondary-color: #ffffff;

$main-background-color: #F5F4FA;
$background-light: #C4C4C4;
$background-dark: #212020;
// #2F303A
// $accent-color: #FFAD00;